@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}
*, *::after, *::before {
    box-sizing: border-box;
  } 
.timer {
    font-size: 5em;
    text-align: center;
    background: none;
    position: fixed;
    left: 86%;
    top: 4%;
}
.topic {
    background: #e6e6fa;
    border-radius: 15px;
    color: black;
    border: 1px solid black;
    position: fixed;
    top: 10%;
    left: 28%;
    width: 150px;
    height: 50px;
    font-size: x-large;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4A98F7;
}
.container{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
    /* height: 500px; */
}
section{
    background: #fff;
    border-radius: 7px;
}
.tools-board{
    width: 210px;
    padding: 15px 22px 0;
}
.tools-board .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10 0 0 5px;
}
.row .options .option{
    margin-bottom: 10px;
    position: relative;
    top: 140px;
    right: 13px;
}
.row .options .option2{
    position: relative;
    top: 150px;
    left: 5px;
}
.row .options .directions{
    width: 100%;
    color: black;
    padding: 11px 0;
    font-size: 1.5rem;
    border-radius: 15px;
    position: relative;
    border: 1px solid black;
    background: #e6e6fa;
}
.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) brightness(100%) contrast(100%) hue-rotate(900deg)
}
.option :where(span, label){
    color: #5a6168;
    padding-left: 10px;
}
.option:is(:hover, .actice) :where(span, label){
    color: #4a98f7
}
.option #fill-color{
    cursor: pointer;
    height: 14px;
    width: 14px;
}
.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 30px;
    background: none;
    border-radius: 5px;
    position: relative;
}
/* .buttons .clear-canvas{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
    top: 240px;
}
.clear-canvas:hover{
    color: #fff;
    background: #6C757D; 
} */
.buttons .save-img{
    background: green;
    border: 1px solid black;
    top: 225px;
}
.drawing-board{
    flex: 1;
}
.drawing-board canvas{
    width: 100%;
    height: 500px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .modal-body {
    padding: 10px 15px;
    font-size: large;
    font-weight: 900px;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  #overlay.active {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
  }

  .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    font-size: large;
    width: 300px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
